.App {
  background-color: #45474B;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #405D72;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .App-header {
    font-size: calc(10px + 1.5vmin);
  }
}

@media (max-width: 992px) {
  .App-header {
    font-size: calc(10px + 1.2vmin);
  }
}

@media (max-width: 768px) {
  .App-header {
    font-size: calc(10px + 1vmin);
  }
}

@media (max-width: 576px) {
  .App-header {
    font-size: calc(10px + 0.8vmin);
  }
}
